﻿body {
    
}


#back{
    position:absolute;
    width:100%;
    height:100px;
    margin:-8px;
    background-color:#475943;     
}

#bodyback {    
    
    /* Устанавливаем правила для фона */

min-width: 850px;

/* Маштаб изображения */
width: 1600px;
height: 522px;

/* Позиции фона */
position: fixed;
top: 150px;
left: 0;
    
}
