﻿
@model Fin.Models.BigUserCIModel

@using WebApplication1.Models
@using WebApplication1.Rep
@using MongoDB.Bson
@using WebApplication1.Models

@{
    ViewBag.Title = "Graphic";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    User user = new MongoUser().GetById(Model.user.Id);
    // string From = "", To = "";

    //Cost inc = new Cost();
    Models.Category c = new Models.Category();
    //Model.cost.UserId = Model.user.Id;
    //Model.income.UserId = Model.user.Id;
    string[] dataC = new string[Model.user.Costs.Count];
    string[] dataI = new string[Model.user.Incomes.Count];

    int[] cos = new int[Model.user.Costs.Count];
    int[] inc = new int[Model.user.Incomes.Count];
    int ii = 0;

}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script language="javascript" type="text/javascript" src="~/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="~/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="~/flot/jquery.flot.stack.js"></script>
    <script language="javascript" type="text/javascript" src="~/flot/jquery.flot.selection.js"></script>
</head>

<body>
    <div id="menu">
        <ul>
            <li>@Html.ActionLink("Доходы", "Income", "Profile", new { user = user.Id }, new { @class = "item" })</li>
            <li>@Html.ActionLink("Расходы", "Cost", "Cost", new { user = user.Id }, new { @class = "item" })</li>
            <li>@Html.ActionLink("Отчеты", "Index", "Log", new { user = user.Id }, new { @class = "item" })</li>
            <li>@Html.ActionLink("Графики", "Index", "Graphic", new { user = user.Id }, new { @class = "choose" })</li>
        </ul>
    </div>
    <h6 style="position:absolute; left:50%; top:180px; width:224px;font-size:36px;margin-left:-112px;">Мои графики</h6>
    <div class="profile">
        <h1>@Html.ValueFor(x => user.Login)</h1>    @Html.ActionLink(" ", "Index", "EditUser", new { login = user.Login }, new { @class = "edit" })
        <h3>Текущий счет: @Html.ValueFor(x => user.CurrentMoney) руб</h3>    @Html.ActionLink(" ", "Logon", "Profile", new { area = "" }, new { @class = "home" })
    </div>

    @foreach (var i in Model.user.Costs)
    {

        cos[ii] = Convert.ToInt32(i.Count);
        dataC[ii] = i.date;
        <input type="hidden" id="cos:@ii" value="@cos[ii]" name="@dataC[ii]">
        ii++;
    }
    @{ii = 0; }

    @foreach (var i in Model.user.Incomes)
    {
        dataI[ii] = i.date;
        inc[ii] = Convert.ToInt32(i.Count);
        <input type="hidden" id="inc:@ii" value="@inc[ii]" name="@dataI[ii]">
        ii++;
    }



    <div class="Graphic" style="background-color:transparent; left:50%; margin-left:-550px; z-index:90000000">       

        <div id="placeholder" style="width:1100px;height:350px; position:absolute;"></div>      
        <table style="margin-top:370px; margin-left:50px;">
            <tr>
                <td>
                    <input type="button" value="" style="border:none;background-color:#13769c;  width:25px; height:25px;" />
                </td>
                <td>
                    <h4 style="padding-left:15px; padding-right:25px;"> - Доходы</h4>
                </td>
                <td>
                    <input type="button" value="" style="border:none;background-color:#f5da15;  width:25px; height:25px;" />
                </td>
                <td>
                    <h4 style="padding-left:15px;"> - Расходы</h4>
                </td>
            </tr>
        </table>
        <div id="overview" style="margin-top:20px;width:1400px;height:150px; display:none;"></div>
    </div>

    <script language="javascript" type="text/javascript">

            var all_data = [];
            var da1=[];
            var da2=[];

            for (var j = 0; j < @cos.Length; ++j)
            {
                var a=document.getElementById("cos:"+j);
                var dat=a.name[6]+a.name[7]+a.name[8]+a.name[9]+  "/"    +a.name[3]+a.name[4]+    "/"  +a.name[0]+a.name[1];
                da1.push([dat,a.value]);

            }
            for (var j = 0; j < @inc.Length; ++j)
            {
                var a=document.getElementById("inc:"+j);
                var dat=a.name[6]+a.name[7]+a.name[8]+a.name[9]+  "/"    +a.name[3]+a.name[4]+   "/"  +a.name[0]+a.name[1];
                da2.push([dat,a.value]);
            }
        if(da1.length!=0)
        {
            var data=da1;
            all_data.push({data});
            data=da2;
            all_data.push({data});
        }else
        {
            data=da2;
            all_data.push({data});
        }



                var hide = [];
        // преобразуем даты в формат, понятный Flot'у
                var min="";
                var n="";
                var max="";
                var x="";

                min=Date.parse(all_data[0].data[0][0]);

                max=Date.parse(all_data[0].data[0][0]);
                x=all_data[0].data[0][0];
                n=all_data[0].data[0][0];

for(var j = 0; j < all_data.length; ++j) {
    hide.push(false); // не скрываем j-ый ряд. пока что.
  for(var i = 0; i < all_data[j].data.length; ++i)
  {
      if(Date.parse(all_data[j].data[i][0])>max)
      {
          max=Date.parse(all_data[j].data[i][0]);
          x=all_data[j].data[i][0];
      }

      if(Date.parse(all_data[j].data[i][0])<min)
      {
          min=Date.parse(all_data[j].data[i][0]);
          n=all_data[j].data[i][0];
      }


      all_data[j].data[i][0] = Date.parse(all_data[j].data[i][0]);
  }

}

for(var j = 0; j < all_data.length; ++j) {
    for(var i = 0; i < all_data[j].data.length; ++i)
    {  for(var k = 0; k < all_data[j].data.length; ++k)
        {
            if(all_data[j].data[k][0]>all_data[j].data[i][0])
            {
                min=all_data[j].data[i][0];
                all_data[j].data[i][0]=all_data[j].data[k][0];
                all_data[j].data[k][0]=min;




                max=all_data[j].data[i][1];
                all_data[j].data[i][1]=all_data[j].data[k][1];
                all_data[j].data[k][1]=max;

            }
        }
    }
}

//n="2016/04/01";
        //x="2016/04/11";

var selection = [n, x];

for(var i = 0; i < selection.length; i++)
  selection[i] = Date.parse(selection[i]);

var overview; // "обзор" всех данных внизу страницы
var plot; // график крупным планом
var show_bars = true; // показывать столбики или линии
var plot_conf = {
  series: {
    stack: null,
    lines: {
      show: true,
      lineWidth: 5

    }
  },
  xaxis: {
    mode: "time",
    timeformat: "%d.%m.%y",
    min: selection[0],
    max: selection[1]
  },
  legend: {
    container: $("#legend")
  }
};

var overview_conf = {
  series: {
    lines: {
      show: true,
      lineWidth: 5
    },
    shadowSize: 0
  },
  xaxis: {
    ticks: []
  },
  yaxis: {
    ticks: []
  },
  selection: {
    mode: "x"
  },
  legend: {
    show: false
  }
};

// меняем вид - столбики или линии
function switch_show() {
  show_bars = !show_bars; // изменяем тип диаграм

  var new_conf = {
    series: {
      stack: show_bars ? true : null,
      lines: { show: !show_bars },
      bars: { show: show_bars }
    }
  };

  // обновляем конфиг
  $.extend(true, plot_conf, new_conf);
  $.extend(true, overview_conf, new_conf);

  // перерисовываем
  redraw();
}

// перерисовываем все и вся :)
function redraw() {
  var data = [];
  for(var j = 0; j < all_data.length; ++j)
    if(!hide[j])
      data.push(all_data[j]);

  plot = $.plot($("#placeholder"), data, plot_conf);
  overview = $.plot($("#overview"), data, overview_conf);

  // легенду рисуем только один раз
  plot_conf.legend.show = false;

  // последний аргумент - чтобы избежать рекурсии
  overview.setSelection({ x1: selection[0], x2: selection[1] }, true);
}

// вычисляем ширину колонки в соответствии с новой областью выделения
function calc_bar_width() {
  // поскольку по оси OX откладывается время,
  // ширина столбцов в гистограмме вычисляется в 1/1000-ых секунды
  // при масштабировании эту величину следует пересчитать
  var r = plot_conf.xaxis;
  // вычисляем, сколько столбцов попало в интервал
  var bars_count = 0;
  for(var i = 0; i < all_data[0].data.length; ++i)
    if(all_data[0].data[i][0] >= r.min &&
       all_data[0].data[i][0] <= r.max)
       bars_count++;

  // изменяем ширину столбцов
  var new_conf = {
    series: {
      bars: { // умножаем на два, чтобы оставалось место между столбцами
        barWidth: 10
      }
    }
  };
  $.extend(true, plot_conf, new_conf);
}

// вычисляем ширину столбцов в гистограмме
calc_bar_width();
// рисуем графики в первый раз
redraw();

// событие - новое выделение на overview
$("#overview").bind("plotselected", function (event, ranges) {
  var r = ranges.xaxis;
  // сохраняем координаты выделенной области
  selection = [r.from, r.to];

  // перемещаем обзор в новую область
  var new_conf = {
    xaxis: {
      min: r.from,
      max: r.to
    }
  };
  $.extend(true, plot_conf, new_conf);

  calc_bar_width();
  redraw();
});

// рисуем чекбоксы в легенде
var legend = document.getElementById('legend'); // еще IE не умеет заменять innerHTML в table
var legend_tbl = legend.getElementsByTagName('table')[0];
var legend_html = '<table style="font-size: smaller; color: rgb(84, 84, 84);"><tbody>';
for(var i = 0; i < legend_tbl.rows.length; i++) {
  legend_html += '<tr>' + '<td><input type="checkbox" onclick="hide['+ i +']=!hide['+ i +'];redraw();" checked="1"></td>' + legend_tbl.rows[i].innerHTML  + '</tr>';
}
legend_html += "</tbody></table>";
legend.innerHTML = legend_html;
    </script>

</body>
</html>