﻿<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Css/styleHome.css">
    <link rel="stylesheet" href="~/Css/styleFormRegistr.css">
    <link rel="stylesheet" href="~/Css/akk.css">
    <link rel="stylesheet" href="~/Css/table.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
    <script src="~/js/menu.js" type="text/javascript"></script>
    
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

    

<body>
    <div id="header">
        <div id="logo"></div>             
            
        </div>
    <div id="content" style="background-color:black; width:100%; height:180px;">
        <div id="bodyback">
            <img src="~/image/fon.png" alt="" style="opacity:0.5; z-index:-100; " >
        </div>
          <div style="z-index:9000; left:50%; top:0px; bottom:50px; height:unset;" >@RenderBody() 
            
            <div id="footer"></div>
        </div>

        



    </div>
</body>
</html>
