﻿<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Css/styleHome.css">
    <link rel="stylesheet" href="~/Css/styleFormRegistr.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="logo"></div>
    </div>
            <div id="content">
                <div id="bodyback">
                    <img src="~/image/fon.png" alt="">
                    @RenderBody()
                    <div id="footer"></div>
                </div>
               
            
        
        
        </div>
</body>
</html>