﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    
}
@model WebApplication1.Models.Registr 
<div id="homelink">
    @Html.ActionLink("Регистрация", "Index", "Register", new { area = "" }, new { @class = "links", @style = "color:white" })
    <b> / </b>
    @Html.ActionLink("Войти", "Index", "Home", new { area = "" }, new { @class = "links"})
</div>
@using (Html.BeginForm("Registr", "Register", FormMethod.Post))
{
<div id="form">
    <table>
        <tr>
            <td>
                <div><h3><b>Регистрация</b></h3></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Login, new {@class="inputs" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Password, new { @class = "inputs" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "inputs" })
            </td>
        </tr>
    </table>
    
</div>
}

