﻿<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="Css/Header.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <div id="back"></div>

    </div>
    <div id="content">
        <div id="bodyback"></div>
        @RenderBody()
    </div>
</body>
</html>
