﻿

#form{
    position:absolute;
    width:500px;
    height:600px;    
    top:3%;
    left:10%;
    border-radius:20px;
    
    
}

.inputs{
    border:none;
    border-bottom:solid 2px black;
    z-index:40000;
    width:430px;
    height:60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:30px;
    padding:40px;
    font-size:32px;
    background-color:transparent;         
}



 input[type="text"]:focus { outline: none; background:none;}
 input[type="password"]:focus { outline: none; background:none;}


#label{
    font-size: 30px;
    color: #0c1e08;
    text-decoration: none;
    font-family:Arial;
    padding-left:45px;
    padding-top:35px;
    padding-bottom:10px;
    
    margin-bottom:-10px;
    font-size:36px;
    
}
 
#form table{
    height:200px;
    opacity:1;
}

#img{
    position:absolute;
    background: url(../image/enter.png) round;
    width: 60px;
    height:60px;
    margin-left:17px;
    right:30px;
    top:30px; 
    border:none;   
    opacity:1;   
    }



#img:hover {
    opacity:1;
    background-image: url(../image/enterhover.png)
}

.message{
    color:red;
    font-size:24px;
    padding-left:50%;
    margin-left:-150px;
    
    
}

#editform{
    position: absolute;
    width: 600px;
    top: 230px;
    left: 50%;
    margin-left:-300px;
    font-size:24px;
}

#textboxedit{
    width: 400px;
    height:60px;
    font-size:26px;
    margin-left:70px;
}