﻿
body{
	margin-top: -12px;
    
}

.delete{
    font-size:32px;
    margin-left:60px;
    color:black;
}


#header {
    position: absolute;
    width: 100%;
    height: 125px;    
    margin: 0px;
    margin-top:0px;
    background-color: #475943;   
}

#menu {
    position:absolute;
        z-index:0;
        height:60px;
        top:120px;
        left:50%;
    background-color: #041101;
    
}

#logo {
    position: absolute;
    background: url(../image/logo.png);
    width: 363px;
    height: 173px;
    z-index: 10000;
    margin-left: 45px;
    margin-top: -5px;
}

#homelink {
    position: absolute;
    top:-130px;
    right:5%;
    z-index:50000;
    font-size: 32px;
    color: white;
}

.links {
    font-size: 30px;
    color: #8fa18b;
    text-decoration: none;
    font-family:Arial;
    padding:5px;
}

.links:hover{
    color:white;
}

#bodyback{
    position:absolute;
    top:180px;
    width:auto;
}

#bodyback img{  
    max-width: 100%;       
}

ul {
    position:absolute;
    width: 670px; /* Ширина элемента в пикселах */
    height:40px;
    margin-left: -335px; /* Выравниваем по центру */
    top:10px;
    left:50%;
    
    
   }

ul li {    
    display: inline; /* Отображать как строчный элемент */
    margin: auto; /* Выравниваем по центру */     
} 

.item:hover{
        background-color:#475943;
        border-bottom: solid 3px #041101;
        border-top:solid 7px #475943;
        padding-left:25px;
        padding-right:25px;        
        color:white;
        text-decoration:none;
}

.item{
    padding: 7px; /* Поля вокруг текста */
    padding-left:25px;
    padding-right:25px;
    font-size:28px;
    font-family:Arial;
    font-weight:500;
    
    color:#475943;
}

.choose{
    padding: 7px; /* Поля вокруг текста */
    padding-left:23px;
    padding-right:23px;
    font-size:28px;
    font-family:Arial;
    border-bottom: solid 3px #041101;
    border-top:solid 7px #475943;
    color:white;
    background-color:#475943;
}
   
.choose:hover{
    padding: 7px; 
    padding-left:23px;
    padding-right:23px;
    font-size:28px;
    font-family:Arial;
    border-bottom: solid 3px #041101;
    border-top:solid 7px #475943;
    color:white;
    background-color:#475943;
    text-decoration:none;
}

.profile{
        position:absolute;
        z-index:500000;
        width:550px;
        height:70px;
        right: 30px;
        text-align:right;
 }

.profile h1{
        position:absolute;
        margin-top: 0px;
        color:white;
        font-weight:500;
        height:40px;
        right:80px;
}

.profile h3{
        position:absolute;
        margin-top: 77px;
        color:white;
        font-weight:600;
        right:85px;
}

.edit{
        position:absolute;
        width:38px;
        height:37px;
        background: url(../image/edit.png);
        top:15px;        
        right:inherit;
 }

.edit:hover{
    background: url(../image/edit2.png);
}

.home{
        position:absolute;
        width:43px;
        height:40px;
        background: url(../image/home.png);
        top:60px;
        right:inherit;
}

.home:hover{
background: url(../image/home2.png);
}

#footer{
    position:fixed;
    bottom:0px;    
    width: 100%;
    height: 70px;  
    z-index:3000000;
    background-color: #0e190b; 
}

#render{
    position:absolute;
    top:20px;
    left:170px;
}

#block-list{
position:absolute;
width:inherit;
height:400px;
}