﻿.tabls{
   position:absolute; 
    width:auto;
   height:580px;
   top:240px;
   left:50px;
   right:50px;   
   background: url(../image/editback.png);
   overflow: auto;
   border-radius:15px;
}

.tablsedit{
   position:fixed;
   
    width:auto;
    height:70px;
   bottom:85px;
   left:50px;
   right:50px; 
   background: url(../image/editback.png);   
   border-radius:15px;
}

.inpus {
    border: none;
    border-bottom: solid 2px black;
    z-index: 40000;
    width: 230px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -40px;
    padding: 40px;
    padding-bottom: 20px;
    font-size: 24px;
    opacity: 1;
    z-index: 100000;
    background-color: transparent;
} 
 input::-webkit-input-placeholder {color:#aaa7a7; }
 
 #inpus {
     margin-right:30px;
     padding-left:30px;
     //margin-right:30px;
     margin-top:-23px;
     font-size:20px;
     height: 45px;
     width:230px;
     background-color:transparent;
 } 

  #inpus2 {
     margin-right:30px;
     padding-left:30px;
     //margin-right:30px;
     margin-top:-30px;
     font-size:20px;
     height: 45px;
     width:230px;
     background-color:transparent;
 } 
 
    

 #inpus:focus{
     border:solid #aaa7a7 1px;
 }


#inpu{
    border:none;
    border-bottom:solid 2px black;
    z-index:40000;
    width:200px;
    height:30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:-5px;
    background-color:transparent;  
    padding-left:30px;
    font-size:24px;
    opacity:1;
    z-index:100000;  
     
           
}

.tablsedit p{
    font-size: 28px;
    font-weight:400;
    margin-right: 20px;
    margin-left: 20px;
    width:400px;
    margin-top:-10px;
}

.tablsedit table{
    position:absolute;
    right:30px;
   
}
.Graphic{
   background-color:#467044;
   position:absolute; 
   width:600px;
   height:300px;
   top:240px;
   left:50px;

   
}