﻿body {
    background-color:#c1c1c1;
}

#form{
    position:absolute;
    width:500px;
    height:400px;
    background:white;
    opacity:0.24;
    top:180%;
    left:10%;
    border-radius:20px;
    border: solid 5px white;
}

.inputs{
    border:none;
    border-bottom:solid 2px black;
    z-index:40000;
    width:400px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:50px;
}
 
