﻿

body{
	margin-top: -12px;
    }
#header {
    position: absolute;
    width: 100%;
    height: 105px;    
    margin: -8px;
    margin-top:35px;
    background-color: #475943;
}

#menu {
    position: absolute;
    width: 100%;
    height: 70px;
    margin-top: 200px;
    background-color: #000000;
}

#logo {
    position: absolute;
    background: url(../image/logo.png);
    width: 363px;
    height: 173px;
    z-index: 10000;
    margin-left: 45px;
    margin-top: -35px;
}

#homelink {
    position: absolute;
    right: 0px;
    margin: 35px;
    margin-right:70px;
    font-size: 32px;
    color: white;
}

.links {
    font-size: 30px;
    color: #8fa18b;
    text-decoration: none;
    font-family:Arial;
    padding:5px;
}

.links:hover{
    color:white;
}



#bodyback {
    /* Устанавливаем правила для фона */
    min-width: 850px;
    /* Маштаб изображения */
    width: 1600px;
    height: 522px;
    /* Позиции фона */
    position: fixed;
    top: 150px;
    left: 0;
}
