﻿@using WebApplication1.Models
@using WebApplication1.Rep
@using MongoDB.Bson
@model Models.Registr
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    Income inc = new Income();
    Models.Category c = new Models.Category();
    User user = new MongoUser().GetByLogin(Model.Login);
}


<div id="menu">
    <ul>
        <li>@Html.ActionLink("Доходы", "Income", "Profile", new { user = user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Расходы", "Cost", "Cost", new { user = user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Отчеты", "Index", "Log", new { user = user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Графики", "Index", "Graphic", new { user = user.Id }, new { @class = "item" })</li>
    </ul>
</div>
<div class="profile">
    <h1>@Html.ValueFor(x => user.Login)</h1>    @Html.ActionLink(" ", "Index", "EditUser", new { login = user.Login }, new { @class = "edit" })
    <h3>Текущий счет: @Html.ValueFor(x => user.CurrentMoney) руб</h3>    @Html.ActionLink(" ", "Logon", "Profile", new { area = "" }, new { @class = "home" })
</div>

@using (Html.BeginForm("Commit", "EditUser", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "editform" }))
{

    <h2>Изменить информацию о пользователе</h2>
    <hr />


    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Логин", id = "textboxedit" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", id = "textboxedit" })
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повторите пароль", id = "textboxedit" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            <input type="submit" class="btn btn-default" value="Изменить" style="background-color:#273127; color:white; padding: 5px 35px 5px 35px;margin-left:-15px;" /> @Html.ActionLink("Удалить аккаунт", "Delete", "EditUser", new { @class = "btn btn-default", style = "margin-left:-5px; border:none; background-color:transparent;" })
        </div>
    </div>
    @Html.ValidationMessageFor(model => model.Login, null, new { @class = "message" })<br />
    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "message" }) <br />
    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "message" })
}


