﻿
@model Fin.Models.BigUserCostModel

@using WebApplication1.Models
@{

    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    Cost inc = new Cost();
    Models.Category c = new Models.Category();
    Model.cost.UserId = Model.user.Id;

}

<div id="menu">
    <ul>
        <li>@Html.ActionLink("Доходы", "Income", "Profile", new { user = Model.user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Расходы", "Cost", "Cost", new { user = Model.user.Id }, new { @class = "choose" })</li>
        <li>@Html.ActionLink("Отчеты", "Index", "Log", new { user = Model.user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Графики", "Index", "Graphic", new { user = Model.user.Id }, new { @class = "item" })</li>
    </ul>
</div>
<div class="profile">
    <h1>@Html.ValueFor(x => x.user.Login)</h1>    @Html.ActionLink(" ", "Index", "EditUser", new { login = Model.user.Login }, new { @class = "edit" })
    <h3>Текущий счет: @Html.ValueFor(x => x.user.CurrentMoney) руб</h3>    @Html.ActionLink(" ", "Logon", "Profile", new { area = "" }, new { @class = "home" })
</div>


<h6 style="position:absolute; left:50%; top:180px; width:224px;font-size:36px;margin-left:-112px;">Мои расходы</h6>
<div class="tabls">
    <table class="table" style="font-size:20px;">
        <tr>
            <td></td>
            <td>
                Количество
            </td>
            <td>
                Категория
            </td>
            <td>
                Дата траты
            </td>
            <td>
                Комментарий
            </td>
            <td style="width:120px"></td>

        </tr>

        @foreach (Cost i in Model.user.Costs)
        {
            <tr>
                <td>
                    <div style="background:url(../../image/gif-@i.Category-1.png) no-repeat; width:30px; height:30px"></div>
                </td>
                <td>
                    -@i.Count
                </td>
                <td>
                    @c.getCCategory().ElementAt(Int32.Parse(i.Category))

                </td>
                <td>
                    @i.date
                </td>
                <td>
                    @i.Comment
                </td>
                <td>
                    <div>
                        @using (Html.BeginForm("Change", "Cost", new { id = @i.Id, userid = @i.UserId }, FormMethod.Post))
                        {
                            <input type="submit" value="" style="border:none; width:30px; height:30px; background: url(../../image/pencil32.png); " />
                        }
                    </div>
                    <div style="margin-top:-36px; margin-left:40px;">
                        @using (Html.BeginForm("Delete", "Cost", new { id = @i.Id, userid = @i.UserId }, FormMethod.Post))
                        {
                            <input type="submit" value="" style="border:none; width:30px; height:30px; background: url(../../image/stop32.png); " />
                        }


                    </div>
                </td>
            </tr>
        }
    </table>

</div>
<div class="tablsedit">
    @using (Html.BeginForm("ChangeItem", "Cost", new { id = Model.cost.Id.ToString() }, FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(x => x.user.Login)
                    @Html.TextBoxFor(x => x.cost.Count, null, new { @class = "form-control", placeholder = "Количество *", pattern = "[0-9]{0,15}", id = "inpus" })
                </td>
                <td>
                    <select id="inpus" name="categ" class="form-control">
                        @foreach (string ct in c.getCCategory())
                        {
                            if (@ct.CompareTo(@c.getCCategory().ElementAt(Int32.Parse(Model.cost.Category))) == 0)
                            {
                                <option selected>@ct</option>
                            }
                            else
                            {
                                <option>@ct</option>
                            }

                        }
                    </select>
                </td>
                <td>
                    <div class="input-group input-append date" id="datePicker">
                        @Html.TextBoxFor(x => x.cost.date, null, new
                   {
                       @class = "form-control",
                       name = "date",
                       placeholder = "Дата *",
                       id = "inpus2",
                       style = "top:5px; margin-right:0px;"
                   })
                </td>
                <td>
                    @Html.TextBoxFor(x => x.cost.Comment, null, new { @class = "form-control", placeholder = "Комментарий", id = "inpus", style = "width:350px; margin-left:30px; margin-right:0px;" })
                </td>
                <td>
                    <input type="submit" value="✓" style="font-size:68px; border:none; background-color:transparent; margin-left:12px" />
                </td>
            </tr>

            <tr>
                <td>
                    * Обязательные поля. <br> Дата в формате: dd.mm.yyy
                </td>
            </tr>
        </table>
    }
</div>

<script>
        $(document).ready(function () {
            var startDate = new Date('01.01.2012');
            var FromEndDate = new Date();
            var ToEndDate = new Date();
            ToEndDate.setDate(ToEndDate.getDate() + 365);

            $('#inpus2').datepicker({
                weekStart: 1,
                autoclose: true,
                format: 'dd.mm.yyyy'
            })
                .on('changeDate', function (selected) {
                    startDate = new Date(selected.date.valueOf());
                   // startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                    $('#inpus2').datepicker('setStartDate', startDate);
                });
        });
</script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
