﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div id="homelink">
    @Html.ActionLink("Регистрация", "Index", "Register", new { area = "" }, new { @class = "links" })
    <b> / </b>
    @Html.ActionLink("Войти", "Index", "Home", new { area = "" }, new { @class = "links", @style = "color:white" })
</div>
