﻿
@model  IEnumerable<LoggerModel>

@using WebApplication1.Models
@using WebApplication1.Rep
@using MongoDB.Bson
@{
    ViewBag.Title = "Cost";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    User user = new MongoUser().GetByLogin(ViewData["login"] as string);
    string From = ViewData["from"] as string, To = ViewData["to"] as string;
    Models.Category c = new Models.Category();
    int? temp = (ViewData["income"] as int?) + (ViewData["cost"] as int?);
}



<div id="menu">
    <ul>
        <li>@Html.ActionLink("Доходы", "Income", "Profile", new { user = user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Расходы", "Cost", "Cost", new { user = user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Отчеты", "Index", "Logger", new { user = user.Id }, new { @class = "choose" })</li>
        <li>@Html.ActionLink("Графики", "Index", "Graphic", new { user = user.Id }, new { @class = "item" })</li>
    </ul>
</div>
<div class="profile">
    <h1>@Html.ValueFor(x => user.Login)</h1>    @Html.ActionLink(" ", "Index", "EditUser", new { login = user.Login }, new { @class = "edit" })
    <h3>Текущий счет: @Html.ValueFor(x => user.CurrentMoney) руб</h3>    @Html.ActionLink(" ", "Logon", "Profile", new { area = "" }, new { @class = "home" })
</div>


<h6 style="position:absolute; left:5%; top:205px; width:1254px;font-size:28px;"><b>Отчет с @From по @To /</b> @Html.ActionLink("PDF", "Pdf", "Log", new { style = "font-size:30px" })</h6>
<h6 style="position:absolute; left:5%; top:245px; width:1254px;font-size:20px;">
    Доход: @ViewData["income"] руб; расход: @ViewData["cost"] руб; баланс: @temp руб 
</h6>
<div class="tabls" style="top:300px; height: 480px;">

    <table class="table" style="font-size:20px;">
        <tr>
            <td></td>
            <td>
                Количество
            </td>
            <td>
                Категория
            </td>
            <td>
                Дата
            </td>
            <td>
                Комментарий
            </td>


        </tr>

        @foreach (LoggerModel i in Model)
            {
            <tr>
                <td>
                    <div style="background: url(../image/table-@i.Table-1.png) no-repeat; width:30px; height:30px"></div>
                </td>
                
                    <td>@i.Count руб</td>             
                <td>
                    @if (i.Table == 0)
                    {
                        @c.getICategory().ElementAt(Int32.Parse(i.Category))
                    }
                    else
                    {
                        @c.getCCategory().ElementAt(Int32.Parse(i.Category))
                    }
                </td>



                <td>
                    @i.Date
                </td>
                <td>
                    @i.Comment
                </td>

            </tr>
        }
    </table>

</div>
<div class="tablsedit">
    @using (Html.BeginForm("GetLog", "Log", new { from = From, to = To, login = user.Login }, FormMethod.Post, new { id = "eventForm" }))
    {
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(x => user.Login)
                    <p>Сформировать общий отчет с </p>
                </td>
                <td>
                    <div class="input-group input-append date" id="startDatePicker">
                        @Html.TextBoxFor(x => From, null, new
                       {
                           @class = "form-control",

                           placeholder = "Дата *",
                           id = "inpus",
                           style = "top:0px; margin-right:0px;"
                       })
                       

                    </div>
                </td>
                <td> <p style="width:30px;">по</p></td>
                <td>
                    <div class="input-group input-append date" id="">
                        @Html.TextBoxFor(x => To, null, new
                       {
                           @class = "form-control",
                           placeholder = "Дата ",
                           id = "inpus2",
                           style = "top:5px; margin-right:0px;"
                       })
                        
                    </div>

                </td>

                <td>
                    <input type="submit" value="+" style="font-size:68px; border:none; background-color:transparent; margin-left:12px" />
                </td>
            </tr>

        </table>
    }
</div>

<script>
        $(document).ready(function () {
            var startDate = new Date('01.01.2012');
            var FromEndDate = new Date();
            var ToEndDate = new Date();
            ToEndDate.setDate(ToEndDate.getDate() + 365);

            $('#inpus').datepicker({
                weekStart: 1,
                startDate: '01.01.2012',
                endDate: FromEndDate,
                autoclose: true,
                format: 'dd.mm.yyyy'
            })
                .on('changeDate', function (selected) {
                    startDate = new Date(selected.date.valueOf());
                   // startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                    $('#inpus2').datepicker('setStartDate', startDate);
                });
            $('#inpus2')
                .datepicker({
                    format: 'dd.mm.yyyy',
                    weekStart: 1,
                    startDate: startDate,
                    endDate: ToEndDate,
                    autoclose: true
                })
                .on('changeDate', function (selected) {
                    FromEndDate = new Date(selected.date.valueOf());
                   // FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
                    $('#inpus').datepicker('setEndDate', FromEndDate);
                });
        });
</script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

