﻿
@model  IEnumerable<LoggerModel>

@using WebApplication1.Models
@using WebApplication1.Rep
@using MongoDB.Bson
@{
    ViewBag.Title = "Cost";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    User user = new MongoUser().GetById(new ObjectId(ViewData["id"] as string));
    string From = "", To = "";

}



<div id="menu">
    <ul>
        <li>@Html.ActionLink("Доходы", "Income", "Profile", new { user = user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Расходы", "Cost", "Cost", new { user = user.Id }, new { @class = "item" })</li>
        <li>@Html.ActionLink("Отчеты", "Index", "Log", new { user = user.Id }, new { @class = "choose" })</li>
        <li>@Html.ActionLink("Графики", "Index", "Graphic", new { user = user.Id }, new { @class = "item" })</li>
    </ul>
</div>
<div class="profile">
    <h1>@Html.ValueFor(x => user.Login)</h1>    @Html.ActionLink(" ", "Index", "EditUser", new { login = user.Login }, new { @class = "edit" })
    <h3>Текущий счет: @Html.ValueFor(x => user.CurrentMoney) руб</h3>    @Html.ActionLink(" ", "Logon", "Profile", new { area = "" }, new { @class = "home" })
</div>


<h6 style="position:absolute; left:50%; top:180px; width:224px;font-size:36px;margin-left:-112px;">Мои отчеты</h6>
<div class="tabls">

    <table class="table" style="font-size:20px;">
        <tr>
            <td></td>
            <td>
                Количество
            </td>
            <td>
                Категория
            </td>
            <td>
                Дата поступления
            </td>
            <td>
                Комментарий
            </td>


        </tr>

        @foreach (LoggerModel i in Model)
            {
            <tr>
                <td>
                    <div style="background: url(../image/table-@i.Table-1.png) no-repeat; width:30px; height:30px"></div>
                </td>

                @if (@i.Table == 0)
                {
                    <td>+@i.Count руб</td>
                }
                else
                {
                    <td>-@i.Count руб</td>
                }




                <td>
                    @i.Date
                </td>
                <td>
                    @i.Comment
                </td>

            </tr>
        }
    </table>

</div>
<div class="tablsedit">
    @using (Html.BeginForm("GetLog", "Log", new { from = From, to = To, login = user.Login }, FormMethod.Post, new { id = "eventForm" }))
    {
        <table>
            <tr>
                <td >
                    @Html.HiddenFor(x => user.Login)
                    <p >Сформировать общий отчет с </p>
                </td>                
                    <td>
                        <div class="input-group input-append date" id="">
                            @Html.TextBoxFor(x => From, null, new
                       {
                           @class = "form-control",

                           placeholder = "Дата *",
                           id = "inpus",
                           style = "top:5px; margin-right:0px;"
                       })
                            

                        </div>
                    </td>
                    <td> <p style="width:30px;">по</p></td>
                    <td>
                        <div class="input-group input-append date" id="">
                            @Html.TextBoxFor(x => To, null, new
                       {
                           @class = "form-control",
                           placeholder = "Дата ",
                           id = "inpus2",
                           style = "top:5px; margin-right:0px;"
                       })
                           
                        </div>

                    </td>
                
                    <td>
                        <input type="submit" value="+" style="font-size:68px; border:none; background-color:transparent; margin-left:12px; margin-top:-10px;" />
                    </td>
            </tr>

        </table>
    }
    </div>

    <script>
        $(document).ready(function () {
            var startDate = new Date('01.01.2012');            
            var FromEndDate = new Date();
            var ToEndDate = new Date();
            ToEndDate.setDate(ToEndDate.getDate() + 365);

            $('#inpus').datepicker({
                weekStart: 1,
                startDate: '01.01.2012',
                endDate: FromEndDate,
                autoclose: true,
                format: 'dd.mm.yyyy'
            })
                .on('changeDate', function (selected) {
                    startDate = new Date(selected.date.valueOf());
                   // startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                    $('#inpus2').datepicker('setStartDate', startDate);
                });
            $('#inpus2')
                .datepicker({
                    format: 'dd.mm.yyyy',
                    weekStart: 1,
                    startDate: startDate,
                    endDate: ToEndDate,
                    autoclose: true
                })
                .on('changeDate', function (selected) {
                    FromEndDate = new Date(selected.date.valueOf());
                   // FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
                    $('#inpus').datepicker('setEndDate', FromEndDate);
                });
        });
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
