﻿<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Css/styleHome.css">
    <link rel="stylesheet" href="~/Css/styleFormRegistr.css">
</head>
<body>
    <div id="header">
        <div id="logo"></div>       
    <div id="content">
        <div id="bodyback"></div>
        @RenderBody()
    </div>
</body>
</html>