﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div id="homelink">
    @Html.ActionLink("Регистрация", "Index", "Registr", new { area = "" }, new { @class = "links" })
    <b> / </b>
    @Html.ActionLink("Войти", "Index", "Home", new { area = "" }, new { @class = "links", @style = "color:white" })
</div>
<div style="position:absolute;top:40px; left:100px; color:red;">
    <h2>Ошибка регистрации.</h2>
    </div>

