﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";

}
@model Models.Registr
<div id="homelink">
    @Html.ActionLink("Регистрация", "Index", "Registr", new { area = "" }, new { @class = "links", @style = "color:white" })
    <b> / </b>
    @Html.ActionLink("Войти", "Index", "Home", new { area = "" }, new { @class = "links" })
</div>
@using (Html.BeginForm("Index", "Registr", FormMethod.Post))
{
    <div id="form">

        <table>
            <tr>
                <td>
                    <div id="label"><b>Регистрация</b><input type="submit" id="img" value=""/></div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(x => x.Login, new { @class = "inputs", placeholder = "Введите имя (логин)"})                    
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(x => x.Password, new { @class = "inputs", placeholder = "Введите пароль" })
                    
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "inputs", placeholder = "Повторите пароль", style="margin-bottom:30px"})
                   
                </td>
            </tr>
            <tr>
                <td>
                   @Html.ValidationMessageFor(model => model.Login, null, new { @class = "message" })<br />
                   @Html.ValidationMessageFor(model => model.Password, null, new { @class = "message" }) <br />
                   @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "message" })
                </td>
            </tr>
        </table>
       
    </div>
}


