﻿
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div id="homelink">
    @Html.ActionLink("Регистрация", "Index", "Registr", new { area = "" }, new { @class = "links" })
    <b> / </b>
    @Html.ActionLink("Войти", "Index", "Home", new { area = "" }, new { @class = "links", @style = "color:white" })
</div>
<div style="position:absolute;top:40px; left:100px; color:green">
    <h2>Регистрация прошла успешно! <br>Вы можете войти в систему.</h2>
</div>


