﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
@model Models.Login
<div id="homelink">
    @Html.ActionLink("Регистрация", "Index", "Registr", new { area = "" }, new { @class = "links" })
    <b> / </b>
    @Html.ActionLink("Войти", "Index", "Home", new { area = "" }, new { @class = "links", @style = "color:white" })
</div>
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{ 
    <div id="form">
        <table>
            <tr>
                <td>
                    <div id="label"><b>Войти в систему</b><input type="submit" id="img" value="" /> </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(x => x.Log, new { @class = "inputs", placeholder = "Введите имя (логин)" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(x => x.Password, new { @class = "inputs", placeholder = "Введите пароль", style = "margin-bottom:30px" })
                </td>
            </tr>
            <tr>
                <td>
                   <br />
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "message" })                    
                </td>
            </tr>
        </table>
       
    </div>
}



