﻿<div id="block-list" style="max-height:500px">
    <div class="container" style="position:absolute; right:50px; top:180px; height:300px;width:initial">
        <h1 style="font-weight:700">Мои доходы</h1>

        @foreach (Income i in Model.user.Incomes)
        {

            <h2 class="acc_trigger" style="background: url(../image/gif-@i.Category-1.png) no-repeat; ">
                <a href="#">+ @i.Count руб </a>
            </h2>

            <div class="acc_container">
                <div class="block">
                    <h3>@c.getICategory().ElementAt(Int32.Parse(i.Category)) </h3> <h4 style="position:absolute; right:50px; margin-top:-0px;">@i.date</h4>


                    @Html.ActionLink("Удалить", "Delete", "Profile", new { id = i.Id, userid = i.UserId }, new { @class = "delete" })
                    <h2 class="acc_trigger2" style="width:100px; background: none; border:none">
                        Изменить/
                        @{
                            Model.income.Count = i.Count;
                            Model.income.Category = c.getICategory().ElementAt(Int32.Parse(i.Category));
                            Model.income.Comment = i.Comment;
                            Model.income.date = i.date;
                            Model.income.Id = i.Id;
                        }
                    </h2>
                    <div class="acc_container">
                        <div class="block">
                            @using (Html.BeginForm("Create", "Profile", FormMethod.Post))
                {
                                <p>@Html.HiddenFor(x => x.income.Id)</p>
                                            <p>Шаг 1: Введите стоимость</p>
                                            <p>@Html.TextBoxFor(x => x.income.Count)</p>
                                            <p>Шаг 2: Введите категорию</p>
                                            <p>@Html.DropDownListFor(x => x.income.Category, new SelectList(c.getICategory()))</p>
                                            <p>Шаг 3: Введите дату</p>
                                            <p>@Html.TextBoxFor(x => x.income.date)</p>
                                            <p>Шаг 4: Введите комментарий</p>
                                            <p>@Html.TextBoxFor(x => x.income.Comment)</p>
                                            <p><input type="submit" value="Create" /></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
                            }



        <h2 class="acc_trigger"><a href="#">Добавить</a></h2>
        <div class="acc_container">
            <div class="block" style="height:500px">
                <h3>Внести доход</h3>

                <div style="position:absolute; width:1200px; height:300px; background-color:white; z-index:100000;">
                    @using (Html.BeginForm("Create", "Profile", FormMethod.Post))
                    {
                        <p>@Html.HiddenFor(x => x.user.Login)</p>
                        <p>Шаг 1: Введите стоимость</p>
                        <p>@Html.TextBoxFor(x => x.income.Count)</p>
                        <p>Шаг 2: Введите категорию</p>
                        <p>@Html.DropDownListFor(x => x.income.Category, new SelectList(c.getICategory()))</p>
                        <p>Шаг 3: Введите дату</p>
                        <p>@Html.TextBoxFor(x => x.income.date)</p>
                        <p>Шаг 4: Введите комментарий</p>
                        <p>@Html.TextBoxFor(x => x.income.Comment)</p>
                        <p><input type="submit" value="Create" /></p>
                    }
                </div>
            </div>

        </div>

        <h2 class="acc_trigger" style="background: none no-repeat;width:0px;border:none"><a href="#"></a></h2>
        <div class="acc_container" style="height:0px;border:none">
            <div class="block" style="border:none">
            </div>
        </div>
        <p style="color:white">1 </p><p style="color:white">1 </p><p style="color:white">1 </p><p style="color:white">1 </p><p style="color:white">1 </p><p style="color:white">1 </p>
    </div>

</div>
</div> 

